In [2]:
import pandas as pd

url = "http://www.cpc.ncep.noaa.gov/data/indices/oni.ascii.txt"

# help(pd.read_fwf)
oni = pd.read_fwf(url, widths = [5, 5, 7, 7])
oni.head()

  SEAS    YR  TOTAL  ANOM
0  DJF  1950  24.72 -1.53
1  JFM  1950  25.17 -1.34
2  FMA  1950  25.75 -1.16
3  MAM  1950  26.12 -1.18
4  AMJ  1950  26.32 -1.07

In [3]:
 
TOTAL= oni['TOTAL'].tolist()

def longterm_mean (value):
    print(sum(value)/float(len(value)))
    
    
longterm_mean(value=TOTAL)

26.896531365313667

In [4]:
ANOM=oni['ANOM'].tolist()

SEAS=oni['SEAS'].tolist()
YR=oni['YR'].tolist()

#def first_strong (value):
 

def first_strong (x,y,z):
    for i in range(len(x)):
        if x[i]<2:
          continue
        else:
            print(y[i],z[i])
            break
  
first_strong (x=ANOM, y=YR, z=SEAS)

1972 OND