In [2]:
import pandas as pd

url = "http://www.cpc.ncep.noaa.gov/data/indices/oni.ascii.txt"

# help(pd.read_fwf)
oni = pd.read_fwf(url, widths = [5, 5, 7, 7])
oni.head()

  SEAS    YR  TOTAL  ANOM
0  DJF  1950  24.72 -1.53
1  JFM  1950  25.17 -1.34
2  FMA  1950  25.75 -1.16
3  MAM  1950  26.12 -1.18
4  AMJ  1950  26.32 -1.07

In [3]:
 
TOTAL= oni['TOTAL'].tolist()

def longterm_mean (value):
    print(sum(value)/float(len(value)))
    
    
longterm_mean(value=TOTAL)

26.896531365313667

In [12]:
ANOM=oni['ANOM'].tolist()
SEAS=oni['SEAS'].tolist()
YR=oni['YR'].tolist()


def first_very_strong (x,y,z):
    for i in range(len(x)):
        for j in range (len(x)):
            if x[j]>=2:
                break
        if x[i]<=-2:
            print (y[j], x[j], z[j])
            print(y[i],x[i],z[i])
            break
  

def first_very_strong (x,y,z):
    for i in range(len(x)):
        for j in range (len(x)):
            if x[j]>=2:
                break
        if x[i]<=-2:
            print (y[j], x[j], z[j])
            print(y[i],x[i],z[i])
            break
  
first_very_strong (x=ANOM, y=YR, z=SEAS)

1972 2.09 OND
1973 -2.03 NDJ

In [34]:

def dict_enso (enso):
    weak_low=0
    medium_low=0
    strong_low=0
    very_strong_low=0
    weak=0
    medium=0
    strong=0
    very_strong=0
    for j in range(len(enso)):
        if enso[j]>-0.5:
            continue
        elif enso[j]>-1:
          weak_low+=1
        elif enso[j]>-1.5:
          medium_low+=1
        elif enso[j]>-2:
          strong_low+=1
        else:
          very_strong_low+=1
    for i in range(len(enso)):
            if enso[i]<0.5:
              continue
            elif enso[i]<1:
              weak+=1
            elif enso[i]<1.5:
              medium+=1
            elif enso[i]<2:
              strong+=1
            else:
             very_strong+=1
    ENSO={"weak el nino":weak, "moderate el nino":medium, "strong el nino":strong, "very strong el nino":very_strong,
     "weak la nina":weak_low, "moderate la nina":medium_low, "strong la nina":strong_low, "very strong la nina":very_strong_low}
    return(ENSO)

dict_enso(enso=ANOM)

{'moderate el nino': 51,
 'moderate la nina': 59,
 'strong el nino': 30,
 'strong la nina': 23,
 'very strong el nino': 16,
 'very strong la nina': 1,
 'weak el nino': 119,
 'weak la nina': 135}